* {
    margin: 0;
    padding: 0;
}

/* header */
.header-black {
    background-color: black;
    width: 100%;
    height: 40px;
    display: flex;
}

.enveloppe {
    width: 33px;
    height: 33px;
    
}

.mail-link {
    margin: 0 2%;
}

.logo {
    margin: 0 2%;
}
.header-black-contact {
    color: #7CF4E7;
}

.header-nav {
    background-image: url('../images/image.png');
    width: 100%;
    height: 210px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2%;
} 

.collapse ul li a {
    font-size: 25px;
}

.logo-background {
    background-color: black;
    width: 24.4%;
    height: 30%;
    margin-left: 2%;
    border-radius: 0 165px 165px 0;
}

.navbar {
    justify-content: center;
}

ul li a {
    font-size: 25px;
} 

.invisible {
    font-size: 5px;
}

.imag-invisible {
    visibility: hidden;
}

/* end-header */

/* formulaire-contact */
.contact {
    background-color: rgba(217, 217, 217, 0.53);
    border-radius: 10px;
    width: 350px;
    height: 230px;
}

.champ-formulaire {
    justify-content: space-between;
}

.form-control {
    width: 789px;
    background-color:  rgba(217, 217, 217, 0.53);
}

.contact p {
    font-size: 20px;
}

.color-line {
    background-color: #0D2058;
    height: 50px;
    margin-top: 3%;
}

@media all and (max-width: 1024px) {
    .form-control {
        width: 500px;
    }
}

@media all and (max-width: 768px) {
    .form-control {
        width: 300px;
    }
    .formulaire-contact {
        margin-top: 61%;
    }
    .contact p {
        font-size: 15px;
    }

    .contact {
        width: 300px;
    }
}

@media all and (max-width: 425px) {
    .champ-formulaire {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* end-formulaire-contact */

/* header */
.header-black {
    background-color: black;
    width: 100%;
    height: 40px;
    display: flex;
}

.enveloppe {
    width: 33px;
    height: 33px;
    
}

.mail-link {
    margin: 0 2%;
}

.logo {
    margin: 0 2%;
}
.header-black-contact {
    color: #7CF4E7;
}

.header-nav {
    background-image: url('../images/image.png');
    width: 100%;
    height: 210px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2%;
} 

.block-image-accueil {
    display: none;
}

.text {
    display: none;
}

.logo-background {
    background-color: black;
    width: 24.4%;
    height: 30%;
    margin-left: 2%;
    border-radius: 0 165px 165px 0;
}

.navbar {
    justify-content: center;
}

ul li a {
    font-size: 25px;
} 

.invisible {
    font-size: 5px;
}

.imag-invisible {
    visibility: hidden;
}

/* end-header */
